div{
    display: flex;
    height: 5%;
    align-items: center;
    justify-content: center;
    border-style: solid;

    a{
        text-decoration: none;
        color: #ffffff;
    }

    p{
        color: #ffffff;
        margin: 0 1rem;
    }
}