div{
    display: flex;
    height: 25%;
    align-items: center;
    justify-content: center;
    border-style: solid ;
    border-top: medium solid #ffffff;
    border-bottom: medium solid #ffffff;
    
    h1{
        font-size: 8rem;
        color: #ffffff;
    }
}
